html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}


main {
    background-image: url(../img/grid.png);
    width:80vw;
    margin: 20px auto;
    border: 1px solid #000;
}

header.primary {
  background:rgba(0, 0,0, 0.6);
}




