body {
    background-color:black ;
    color: green;
}

#headertext {
    text-align: center;
}

a {
    color: green; 
}

@media screen and (max-width:600px){

html body {
background-color: blue;
}


}