/*color scheme*/
.prim {
  background-color: #4361EE;
  padding: 50px;
  color:#f0f0f0;
  
}

.bannertext {
  font-size: 50px;
  color: #f0f0f0;
}





/*Text*/

body {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.bannertext {
  font-size: 50px;
  color: #333;
}

/*The 6 cards */
.container {
  display: flex;         
  gap: 20px;           
  justify-content: center; 
}

.card {
  flex: 1;              
  padding: 20px;
  background: #f0f0f0;
  border: 1px solid #ccc;
}
.card h2 {
  margin-top: 20px;
}

#links{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 450px; 
  font-size: 20px
}

#joinheader {
  font-size: 40px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

#joindescription {
  font-size: 20px;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

#learn-more {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4361EE;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

