/*color scheme*/
.prim {
  background-color: #1c2e4a;
  padding: 30px;
}

.bannertext {
  font-size: 50px;
  color: #f0f0f0;
  text-align: center;
}


  
ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 450px; 
  font-size: 20px
}

#bannerlinks {
  display: flex;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}

/*Text*/

body {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
}



/*The 6 cards */

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 75px;
}


#links{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 450px; 
  font-size: 20px
}

#joinheader {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 40px;
}

#joindescription {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

#learn-more {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #393F86;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.firstcontent {
  padding: 40px;
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 100px;
}

.learn-more{
  margin: 40px auto;
}

.secondcontent {
  padding: 40px;
  background-color: #393F86;
  padding-top: 50px;
  padding-bottom: 100px;
}

#missiontime {
  font-size: 40px;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 40px;
}

img{
  width: 100%;
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 60px;
}

.card-content {
  padding: 16px;
}

.thirdtext {
  color: black;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}

.fourthcontent {
  padding: 40px;
  background-color: #393F86;
  padding-top: 50px;
  padding-bottom: 100px;
}

#volunteer {
  font-size: 40px;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 40px;
}

.fifthcontent {
  padding: 70px;
  background-color: #f0f0f0;
  padding-top: 70px;
  padding-bottom: 100px;
}

.sixthcontent {
  padding: 10px;
  background-color: #393F86;
  text-align: center;
  color: #f0f0f0;
}