/*color scheme*/
.prim {
  background-color: #393F86;
  padding: 30px;
  color:#f0f0f0;
  
}

.bannertext {
  font-size: 50px;
  color: #f0f0f0;
  text-align: center;
}

h1 {
  color: white;
}
  
ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 450px; 
  font-size: 20px
}

#bannerlinks {
  display: flex;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}



ul li {
  border-left: 5px solid white;
  padding-left: 10px;
}

/*Text*/

body {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
}



/*The 6 cards */
.container {
  display: flex;         
  gap: 20px;           
  justify-content: center; 
}

.card {
  flex: 1;              
  padding: 20px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.card h2 {
  margin-top: 20px;
}

#links{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 450px; 
  font-size: 20px
}

#joinheader {
  font-size: 40px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

#joindescription {
  font-size: 20px;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

#learn-more {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4361EE;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.firstcontent {
  padding: 40px;
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 100px;
}

#learn-more{
  margin: 40px auto;
}

.secondcontent {
  padding: 40px;
  background-color: #4361EE;
  padding-top: 50px;
  padding-bottom: 100px;
}

#missiontime {
  font-size: 40px;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 40px;
}