html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------ Helper Classes -------*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* ------ Typography -------*/
body {
  font-family: "Open Sans", sans-serif;
}

/* ------ Fluid Images -------*/

img {
  max-width: 100%;
}

/* ------ Design Time -------*/

.container {
  width:420px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.15);
}

nav ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px 20px 20px 20px;
}

nav li{
    list-style-type: none;
}
